[submodule "plugins/tmux-prefix-highlight"]
	path = plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "plugins/tmux-online-status"]
	path = plugins/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status.git
[submodule "plugins/tmux-net-speed"]
	path = plugins/tmux-net-speed
	url = https://github.com/tmux-plugins/tmux-net-speed.git
